{% extends 'layout/layout' %}

{% block content %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col-md-13">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <h2>Espace utilisateur</h2>

                        <a href="{{ url('logout') }}"><span class="btn btn-danger">Deconnexion</span></a>

                        {{ dump(auth.user()) }}
                        {% if auth.user() %}
                            pas co
                        {% else %}
                            <h1>ok{{ dump(auth)}}ok</h1>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}